<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>a8s</string>
				<string>A8S</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc</string>
			<key>CFBundleTypeName</key>
			<string>Atari 800 Saved State</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>set</string>
				<string>SET</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc</string>
			<key>CFBundleTypeName</key>
			<string>Atari 800 Disk File Set</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>car</string>
				<string>CAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc</string>
			<key>CFBundleTypeName</key>
			<string>Atari 800 Cartridge File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rom</string>
				<string>ROM</string>
				<string>bin</string>
				<string>BIN</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc</string>
			<key>CFBundleTypeName</key>
			<string>Atari 800 Rom Dump File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>atr</string>
				<string>ATR</string>
				<string>xfd</string>
				<string>XFD</string>
				<string>dcm</string>
				<string>DCM</string>
				<string>pro</string>
				<string>PRO</string>
				<string>atx</string>
				<string>ATX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc</string>
			<key>CFBundleTypeName</key>
			<string>Atari 800 Disk Image File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cas</string>
				<string>CAS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc</string>
			<key>CFBundleTypeName</key>
			<string>Atari 800 Cassette Image File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xex</string>
				<string>XEX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc</string>
			<key>CFBundleTypeName</key>
			<string>Atari 800 Executable File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>act</string>
				<string>ACT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc</string>
			<key>CFBundleTypeName</key>
			<string>Atari 800 Color Pallette File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>a8c</string>
				<string>A8C</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc</string>
			<key>CFBundleTypeName</key>
			<string>Atari 800 Configuration</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Atari800MacX</string>
	<key>CFBundleGetInfoString</key>
	<string>5.4.0UltimateAlpha3</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Atari800MacX Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Atari800MacX Help</string>
	<key>CFBundleIconFile</key>
	<string>Fuji.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Atari800MacX</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.4.0UltimateAlpha3</string>
	<key>CFBundleSignature</key>
	<string>A8MX</string>
	<key>CFBundleVersion</key>
	<string>5.4.0UltimateAlpha3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2020Mark Grebe</string>
	<key>NSMainNibFile</key>
	<string>SDLMain</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
</dict>
</plist>
